<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quod, autem 
  animi repellendus sapiente ipsam temporibus explicabo ullam accusantium eius 
  est fugit minus aperiam, nisi recusandae vitae quam, assumenda veniam.</p>

<%- include("footer") -%>
